.main {
  text-align: center;

  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
}

h1 {
  color: #333;
}

div {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  width: 90px;
}

button:hover {
  background-color: #0056b3;
}

.result ul {
  list-style-type: none;
  padding: 0;
  width: 60%;
  margin: auto;
}

.result li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result li button {
  background-color: #ff4646;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.result li button:hover {
  background-color: #d42d2d;
}
